<div data-role="page" data-theme="b">

  <div data-role="header" data-position="inline">
    <h1>タイマー機能</h1>
  </div>

  <div data-role="content">
    <a href="<%= url_for(:action => :timer_start, :query => {:type => 1}) %>" data-role="button">タイマースタート(5秒後に画面移動)</a>
    <a href="<%= url_for(:action => :timer_start, :query => {:type => 2}) %>" data-role="button">タイマースタート(5秒後にポップアップ表示)</a>
  </div>

</div>
