<div data-role="page" data-theme="b">

  <div data-role="header" data-position="inline">
    <h1>タイマー実行中</h1>
  </div>

  <div data-role="content">
    <p>タイマー計測中です。<%= @msg %></p>
    <a href="<%= url_for(:action => :timer_stop) %>" data-role="button">タイマーストップ</a>
  </div>

</div>
